body {
    display: flex;
    flex-direction: column;
}

header{
    background-color:rgb(47, 47, 142)
}

h1{
    text-align: center;
    position: relative;
    left: 10%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

aside{
    display: flex;
    flex-direction: column;
    flex:1;
    
}

aside form input[type="submit"] {
    background-color: aquamarine;
  }

form > *{
    margin-bottom: 10px;
    width: 100%;
}

input[type=search]{
    background-color: rgb(80, 70, 219);
}

button{
    margin-bottom: 20px;
}


section{
    flex: 4 5;
}

section >*{
    margin: 10px;
}

#today{
    margin-top: 0px;
    border: 2px black;
    padding-left: 1%;

}

h4{
    padding-left: 1%;
}

#fiveDayForcast {
    display: flex;
    flex-wrap: wrap;
}

#fiveDayForcast > * {
    background-color: rgb(17, 17, 45);
    color: aliceblue;
    margin: 1%;
    flex: 1 0 5%; 
    padding: 1%;
}

@media screen and (max-width: 768px) {
    #fiveDayForcast > * {
    flex: 1 1 100%;
}
}